<div class="container">
  <h1>Here all your reservations for <%= @vehicle.name %></h1>

  <% if @pending_reservations.present? %>
    <div>
      <h3>My pending reservations</h3>
      <% @pending_reservations.each do |reservation| %>
        <%= render "vehicle_reservations/cards", reservation: reservation %>
      <% end %>
    </div>
  <% end %>

  <% if @accepted_reservations.present? %>
    <div>
      <h3>My accepted reservations (upcoming)</h3>
      <% @accepted_reservations.each do |reservation| %>
        <%= render "vehicle_reservations/cards", reservation: reservation %>
      <% end %>
    </div>
  <% end %>

  <% if @declined_reservations.present? %>
    <div>
      <h3>My declined reservations</h3>
      <% @declined_reservations.each do |reservation| %>
        <%= render "vehicle_reservations/cards", reservation: reservation %>
      <% end %>
    </div>
  <% end %>

  <% if @cancelled_reservations.present? %>
    <div>
      <h3>My cancelled reservations</h3>
      <% @cancelled_reservations.each do |reservation| %>
        <%= render "vehicle_reservations/cards", reservation: reservation %>
      <% end %>
    </div>
  <% end %>

  <div class="mb-4">
<!--     <h3>My old accepted reservations (passed)</h3>
 -->  </div>
</div>
