<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="sticky">
  <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <%= link_to "Hire out your ride", "#", class: "btn btn-outline-dark rounded-btn no-border" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to current_user.email, reservations_path, class: "btn btn-outline-dark rounded-btn no-border" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, class: "btn btn-primary rounded-btn", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Log In", new_user_session_path, class: "btn btn-outline-primary rounded-btn" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary rounded-btn" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>





