<h1><%= @vehicle.name %></h1>


<p><%= @vehicle.category %></p>
<p><%= @vehicle.description %></p>
<p><%= @vehicle.price_per_day %></p>
<p><%= @vehicle.address %></p>
<p><%= @vehicle.capacity %></p>
<p><%= @vehicle.minimum_age %></p>
<p><%= @vehicle.user %></p>
<p><%= @vehicle.photos %></p>

<!-- Elements manquants :
- owner (through user id)
- reviews
- rate
 -->


