<div id="vehicle-booking-dates" data-unavailable="<%= @vehicle.unavailable_dates.to_json %>">
  <%= simple_form_for [@vehicle, @reservation] do |f| %>
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}  %>
    <p>Total price : <span id="total-price"><%= @vehicle.price_per_day %></span> €</p>
    <%= f.button :submit, "Book now", class: "btn-primary rounded-btn btn-block", data: {user: current_user ? true : false}, id: "submit_reservation" %>
  <% end %>
</div>
