
<div class="container">
  <h1>My reservations</h1>

  <% if @reservations.empty? %>
    <p>No reservation yet?</p>
    <p><%= link_to('Give it a try', "/vehicles") %></p>

  <% else %>

    <div class="content">
      <div class="cards">
        <% @reservations.each do |reservation| %>
          <% if reservation.status != "cancelled" %>
            <div class="card-trip">
              <%= cl_image_tag reservation.vehicle.photos.first.key, height: 300, width: 400, crop: :fill %>

              <div class="card-trip-infos">
                <div>
                  <h2><%= reservation.vehicle.name %></h2>
                  <p><%= reservation.status %></p>
                  <h2>from <%= reservation.start_date %> to <%= reservation.end_date %></h2>
                  <h2>total price of <%= reservation.total_price %> $</h2>
                  <%= link_to cancel_reservation_path(reservation), method: :patch, data: { confirm: "You sure?"}  do %>
                    <i class="fas fa-trash"></i>
                   <% end %>
                </div>
              </div>
            </div>
          <% end %>
         <% end %>
      </div>
    </div>
    <h1>My cancelled reservations</h1>
      <div class="content">
        <div class="cards">
          <% @reservations.each do |reservation| %>
            <% if reservation.status == "cancelled" %>
              <div class="card-trip">
                <%= cl_image_tag reservation.vehicle.photos.first.key, height: 300, width: 400, crop: :fill %>

                <div class="card-trip-infos">
                  <div>
                    <h2><%= reservation.vehicle.name %></h2>
                    <p><%= reservation.status %></p>
                    <h2>from <%= reservation.start_date %> to <%= reservation.end_date %></h2>
                    <h2>total price of <%= reservation.total_price %> $</h2>
                  </div>
                </div>
              </div>
           <% end %>
          <% end %>
        </div>
      </div>

  <% end %>
    <p><i class="fas fa-undo"></i><%= link_to('Back to catalog', "/vehicles") %></p>

</div>
