<div class="container">
  <div class="form-group form-icons mt-5">
    <span class="fa fa-plus"></span>
    <%= link_to  "Add a new vehicle", new_vehicle_path, class: "btn btn-lg btn-primary rounded-btn", id: "goldenButton"%>
  </div>

  <h1> <%= @user.first_name %>, here all your vehicles</h1>

  <div class="content">
    <div class="cards">
      <% @user.vehicles.each do |vehicle| %>
        <div class="card-trip">
          <% vehicle.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill, class: "card-img" %>
          <% end %>
          <div class="manage-vehicle-pictos">
            <%= link_to edit_vehicle_path(vehicle), :confirm => "Are you sure ?" do %>
              <i class="fas fa-pen mr-2"></i>
            <% end %>
            <%= link_to vehicle_path(vehicle), data: {:confirm => "Are you sure ?"}, :method => :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>

          </div>
          <div class="category-badges">
            <% vehicle.categories.each do |category| %>
              <div class="badge badge-pill badge-primary category-badge">
                <p><%= category.name %> </p>
              </div>
            <% end %>
          </div>
          <%= link_to my_vehicle_vehicle_reservations_path(vehicle) do  %>
            <div class="card-trip-infos">
              <h2><%= vehicle.name %></h2>
              <p><%= number_with_delimiter(vehicle.price_per_day, :delimiter => ',') %> € per day</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<!--
<a data-confirm="You sure?" rel="nofollow" data-method="patch" href="/reservations/13/cancel">
          <i class="fas fa-trash"></i>
</a> -->
