<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#logIn">
  Log in
</button>

<!-- Modal -->
<div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="logInLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logInLabel">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-inputs">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      label: false,
                      placeholder: 'Your email' %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" },
                      label: false,
                      placeholder: 'Your password' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
          <br>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn btn-primary btn-block rounded-btn" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <div>
          Don't have an account?
          <%= link_to "Sign up", new_registration_path(resource_name) %><br />
        </div>
      </div>
    </div>
  </div>
</div>
