<div class="container">
    <div class="search-form-control form-group searchbar-index">
      <%= form_tag vehicles_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a ride"
        %>
          <%= submit_tag "Search", class: "btn btn-outline-primary" %>
        <% end %>
      </div>
  <div class="content row">
    <div class="filters col-2">
      <%= form_tag vehicles_path, method: :get do %>
        <div class="filter-category form-check pt-20">
          <h2>Category</h2>
          <div class="d-flex flex-column">
            <%= collection_check_boxes(:vehicle, :category_ids, Category.all, :id, :name, include_hidden: false) do |b| %>
            <%= b.label class:"label-checkbox" do%>
            <%=b.check_box + b.text%>
            <%end%>
    <% end %>
          </div>
        </div>
        <%= submit_tag "Filter", class: "btn btn-outline-primary rounded-btn" %>
      <% end %>
    </div>
    <div class="cards col-10">
      <% @vehicles.each do |vehicle| %>
        <div class="card-trip">
            <% vehicle.photos.each do |photo| %>
              <%= cl_image_tag photo.key, crop: :fill, class: "card-img" %>
            <% end %>
            <%= link_to ">", vehicle_path(vehicle) ,class: "card-button" %>
            <div class="category-badges">
              <% vehicle.categories.each do |category| %>
                <div class="badge badge-pill badge-primary category-badge">
                  <p><%= category.name %></p>
                </div>
              <% end %>
            </div>
           <%= link_to vehicle_path(vehicle) do %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= vehicle.name %></h2>
                  <h2> <%= vehicle.price_per_day %> € / day </h2>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
</div>
