<div class="container">
  <h1><%= @vehicle.name %></h1>

  <div class= first-card-info>
    <div class= price-card><p><%= @vehicle.price_per_day %> € / day</p></div>
  </div>

  <div class= photo-vehicle>
    <% @vehicle.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="d-flex p-3">

    <div>
      <div class= description-card>
        <h2>Description</h2>
        <p><%= @vehicle.description %></p>
      </div>

      <div class= vehicle-detail-card>
        <h2>Information</h2>
        <p>Owner: <%= @vehicle.user.first_name %> <%= @vehicle.user.last_name %></p>
        <p>Location: <%= @vehicle.address %></p>
        <p>Capacity: <%= @vehicle.capacity %> pers.</p>
        <p>Minimum age: <%= @vehicle.minimum_age %> years old</p>
      </div>
    </div>

    <div>
      <%= render "reservations/new", vehicle: @vehicle, reservation: @reservation %>
    </div>

  </div>
</div>


